div{
  height:200px;
  background-size:cover;
  position:relative;
  margin:40px 0 0 0 ;
  border-radius:12px;
  }
  body{
    margin:0 auto;
    max-width:600px;
    background:#232323;

    }
.first{
   background:url("http://i.imgur.com/1exjJXA.jpg");
   background-size:cover;
   background-repeat:no-repeat;
  }
  .second{
     background:url("http://i.imgur.com/9NIR84g.jpg");
      background-size:cover;
   background-repeat:no-repeat;
    }
.third{
   background:url("http://i.imgur.com/ud48eN8.jpg");
    background-size:cover;
   background-repeat:no-repeat;
  }
  .pizza{
  background:url("http://i.imgur.com/aS97T7q.jpg");
   background-size:cover;
   background-repeat:no-repeat;
    }
  .show p{
    height:150px;

    }
  .show small{
    opacity:1;
    }
  p{
    color:rgba(255, 255, 255 ,1);
    padding:10px;
    text-align:justify;
    line-height:28px;
    position:absolute;
    bottom:0;
    margin:0;
    background:black;
    background:-webkit-linear-gradient(bottom,rgba(0,100,0,.8),rgba(100,0,0,.4));
      background:-moz-linear-gradient(bottom,rgba(0,100,0,.8),rgba(100,0,0,.4));
      background:linear-gradient(bottom,rgba(0,100,0,.8),rgba(100,0,0,.4));
      height:40px;
      transition:height .5s;
       -webkit-transition:height .5s;
        --moztransition:height .5s;
    }
    small{
      opacity:0;
      }
    body{

      }
.price{
  float:right;

  }
  h1{
    font-family: 'Londrina Shadow', cursive;
    font-size:75px;
    text-align:center;
    color:#aaaaaa;

    margin:10px;
    }
    h2{
      text-align:center;
      color:#bbbbbb;
  margin:0px 0px 50px 0px;


      }
h5{
  text-align: right;
  color: white;
  font-size: 25px;
  margin:0;
  margin-top:15;

}
h4{
  color: white;
  font-size: 30px;
  margin:0px 0px 15px 0px;

}
.ss{
  font-size:30px;
  color:white;
   display:block;
   margin:15px 0px 15px 0px;
   text-align:center;

  }
  .aa{
     font-size:16px;
    display:block;
    color:white;
    margin-top:15px;
    }
input{
  width:220px;
  padding:5px;
  border:1px solid grey;
  border-radius:2px;
  }
button{
  padding:5px;
  border:1px solid grey;
  border-radius:2px;
  }
  @media(max-width:400px){
    h1{
      font-size:50px;
      line-height:40px;
      margin-top:20px;
      }
      h2{
        margin:0px;
        }
  div{
    margin:20px 12px 0 12px;
    }
    p{
      font-size:20px;
      line-height:24px;
      }
      small{
        font-size:16px;
        }
   input{
     width:170;
     margin:0 0 0 10px;
     }
  .aa{
    font-size:13;
    padding:0 0 0 10px;
    }
  .ss{
    font-size:25;
    }
    h5{
      font-size:20px;
       padding:0 12 0 0px;
      }
    h4{
       padding:0 0 0 10px;
       font-size:25;
      }
  }
